.App {
  background-color: rgb(0, 0, 0);
}

.Melodiction {
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

